/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6337a8;
  --ifm-color-primary-dark: #593197;
  --ifm-color-primary-darker: #542f8f;
  --ifm-color-primary-darkest: #452776;
  --ifm-color-primary-light: #6d3db9;
  --ifm-color-primary-lighter: #7240c0;
  --ifm-color-primary-lightest: #8559c9;
  --ifm-background-color: #e6e3e3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #b2a9f2;
  --ifm-color-primary-dark: #a297ef;
  --ifm-color-primary-darker: #9285ed;
  --ifm-color-primary-darkest: #8273ea;
  --ifm-color-primary-light: #d2cdf7;
  --ifm-color-primary-lighter: #e2dffa;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #000c14;
}
